
<style>

</style>

<main class="flex justify-center flex-col lg:flex-row">

  <div
    style="background-image: url(/assets/images/hero1.jpg); background-clip: content-box;"
    class="py-0 lg:flex-1 relative">
    <div class="flex justify-center items-center relative w-full h-full lg:bg-black lg:bg-opacity-45">

      <div class="relative w-full flex justify-center">
        <select class="block w-11/12 bg-white text-black rounded-3xl px-5 py-4 shadow-xl border-gray-600 outline-none" >
          <option selected value="music">Select quiz topic</option>
          <option value="music">Entertainment - Music</option>
        </select>
      </div>

    </div>

  </div>

  <div class="max-w-6xl mt-6 flex flex-row flex-wrap justify-around lg:flex-1 lg:overflow-y-auto">
    @for (item of sections; track item.title) {
      <home-card [title]="item.title" [caption]="item.caption" />
       <!-- <div home-card [title]="item.title" [caption]="item.caption" ></div> -->
    }
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
